{% extends 'base.html' %}

{% block content %}

<h3 class="d-inline">{{ person }} <a href="{% url 'register:person_update' person.id %}"><i class="bi bi-pencil"></i></a> </h3>

<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Dane</h5>
                <div class="row">
                <div class="col-4">imie</div>
                <div class="col-8">{{ person.first_name }}</div>
                <div class="col-4">nazwisko</div>
                <div class="col-8">{{ person.last_name }}</div>
                <div class="col-4">pesel</div>
                <div class="col-8">{{ person.pesel }}</div>
                <div class="col-4">telefon</div>
                <div class="col-8">{{ person.phone }}</div>
                <div class="col-4">adres</div>
                <div class="col-8">{{ person.street }}</div>
                <div class="col-4"></div>
                <div class="col-8">{{ person.postcode }} {{ person.city }}</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rodzina <i class="ri-add-fill"></i> </h5>
                <form action="{% url 'register:family' %}" method="POST">
                    {% csrf_token %}
                    {% for field in family %}
                    <div class="col">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary my-3">Utwórz</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nowa sprawa</h5>
                {% for sign in next_signatures %}
                    <span class="badge border-primary text-primary sign_val">{{ sign }}</span>
                {% endfor %}
                <form action="{% url 'register:case' %}" method="POST">
                    {% csrf_token %}
                    {{ new_case }}
                <button type="submit" class="btn btn-primary my-3">Utwórz</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nowa sprawa</h4>
                <form action="{% url 'register:case' %}" method="get">
                <input name="person_id" type="hidden" value="{{ person.id }}">
                {{ simple_case_form }}
                <button class="btn btn-primary">nowa sprawa</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sprawy bieżące</h5>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sygnatura</th>
                        <th scope="col">Typ</th>
                        <th scope="col">Koszty</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Komornik</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in cases %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="{% url 'register:case' case.id %}">{{ case.signature }}</a></td>
                        <td>{{ case.get_type_display }}</td>
                        <td>{{ case.costs }}</td>
                        <td>{{ case.create_date }}</td>
                        <td>{{ case.bailiff }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts%}
<script>
$(document).ready(function(){
  $("span").on("click", function(){
    $('#id_signature').attr("value", $(this).text());
  });
});
</script>
{% endblock %}
