{% extends 'base.html' %}

{% block content %}

{% load l10n %}

 <div class="card">
      <div class="card-body">
          <h5 class="card-title">Sprawy bierzące</h5>

          <table class="table">
              <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sygnatura</th>
                  <th scope="col">Typ</th>
                  <th scope="col">Koszty</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">Komornik</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>{{ case.signature }}</td>
                  <td>{{ case.type }}</td>
                  <td>{{ case.costs }}</td>
                  <td>{{ case.create_date|localize }}</td>
                  <td>{{ case.bailiff }}</td>
              </tr>
          </table>
      </div>
  </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Przypisani do sprawy </h5>
        <div class="row">
            <div class="col-6">pozwani</div>
            <div class="col-6">powód</div>
        </div>
    {% for person in people %}
        <h5>{{ person }}</h5>
    {% endfor %}
    </div>
</div>

{% if refund_form %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"> Zadeklaruj koszty sprawy <i class="ri-add-fill"></i> </h5>
        <form action="{% url 'payments:refund' %}" method="POST">
            {% csrf_token %}
            <div class="row">
            {% for field in refund_form %}
            <div class="col-md-2">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary my-3">Utwórz</button>
        </form>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Koszty sprawy <i class="ri-add-fill"></i> </h5>
        <h5>{{ refund }}</h5>
    </div>
</div>
{% endif %}

{% endblock %}